.feed {
    display: flex;
    /* flex: 4; */
    padding: 30px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
