.online-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 5px;;
}

.online-user > .MuiSvgIcon-root {
    /* padding-right: 10px; */
}


.online-user > p {
    font-weight: 500;
}

.online-user:hover {
    background-color: lightgray;
    border-radius: 10px;

}

.online-user-profile-pic-container {
    position: relative;
}

.chat-online-status > .MuiSvgIcon-root {
    color: rgb(3, 150, 3);
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 5px;
}
