.sidebar {
    padding: 10px 10px;
    position: relative;
    overflow-y: auto;
}

.sidebar-content {
    position: fixed;
    overflow-y: auto;
    height: 100vh;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
*::-webkit-scrollbar {
    width: 5px;
    display: none;
  }
*::-webkit-scrollbar-track {
    background: none;
  }
*::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 156);
    border-radius: 10px;
  }
*::-webkit-scrollbar:hover {
    width: 5px;
    display: inline;
  }
